@page
@using Microsoft.Extensions.Localization
@model LockoutModel
@inject IStringLocalizer SharedLocalizer
@{
    ViewData["Title"] = "Locked out";
}

<header>
    <div class="container">
        <h1 class="text-danger">@SharedLocalizer["Locked out"]</h1>
        <p class="text-danger">@SharedLocalizer["Your account has been locked out, please try again later."]</p>
    </div>
</header>
