html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
  .collection-img {
  }
}

@media (max-width: 768px) {
  html {
    font-size: 16px;
  }
  .collection-img {
    width: 100%;
  }

  .logo {
    width: 70px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.search-box{
  width: 30%;
}

.tag-cloud {
  height: 100px;
}

.cropped {
  width: 100%;
  height: 225px;
  object-fit: cover;
  object-position: 50% 50%;
}

.collection-img{
  height: 300px;
  object-fit: cover;
  object-position: 50% 50%;
}

#culture {
  width: 3rem;
}

.logo {
  width: 100px;
}