
<div class="container">
    <h1>Explore collections</h1>
    <hr/>
    <div class="table-responsive p-1">
        <table id="table-collections" class="table">
            <thead>
            <tr>
                <td>
                    Id
                </td>
                <td>
                    Title
                </td>
                <td>
                    Description
                </td>
                <td>
                    Theme
                </td>
                <td>
                    Author
                </td>
                <td>
                    Items count
                </td>
            </tr>
            </thead>
        </table>
    </div>
</div>
